@media (max-width: 1168px) {
    .models__mainblock {
        flex-direction: column;
        justify-content: space-between;
    }

    .models__block {
        margin-bottom: 20px;
    }

    .swiper__content {
        padding: 0 15px;
    }

    .main__collection {
        padding: 0 15px;
    }

    .collection__text {
        padding-left: 15px;
    }

    .email__content {
        padding: 0 15px;
    }

    .footer__content {
        padding: 0 15px;
    }

    .footer__conttent {
        padding: 0 15px;
    }
}

@media (max-width: 1168px) {
    .email__content {
        display: flex;
        flex-direction: column;
    }

    .main {
        // .main__email

        &__email {}

        // .main__container

        &__container {}
    }

    .email {
        // .email__content

        &__content {}

        // .email__title

        &__title {
            margin-top: 20px;
        }

        // .email__form

        &__form {}

        // .email__input

        &__input {}

        .models__mainblock {
            margin-bottom: 20px;
        }

        .models__block {
            margin-bottom: 20px;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;

            & svg {
                position: absolute;
            }

            & img {
                margin-top: 20px;
            }
        }

        .container {}

        .form {

            // .form__btn
            &__btn {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        .btn {}
    }

    @media (max-width: 945px) {
        .header__menu {
            display: flex;
            flex-direction: column;
        }

        .header__pay {
            display: flex;
            flex-direction: column;
        }

        .pay__img {
            margin-left: 5px;
        }
    }

    @media (max-width: 900px) {
        .footer__content {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .footer__column2 {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 844px) {
        .content__left {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .swiper__content {
            display: flex;
            flex-direction: column;
        }

        .content__right {
            align-items: center;
            margin-top: 50px;

            & img {
                display: flex;
                justify-content: center;
            }
        }

        .header-pagination {
            width: 200px;
            justify-content: space-between;
            display: flex;
            position: absolute;
            top: 950px;

            left: 50%;
            transform: translateX(-50%);
        }

        .colection__man {
            display: flex;
            flex-direction: column;
        }

        .colection__img {
            margin-top: 0;
            margin-left: 120px;
        }

        .colection__woman {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: 768px) {
        .header__nav {}

        .header__menu {
            display: none;
        }

        .header__pay {
            display: none;
        }


    }

    @media (max-width: 744px) {
        .main__colection {
            align-items: center;
            background: linear-gradient(to bottom, #f9f6f1 50%, #f4f4f4 50%);
            display: flex;
            flex-direction: column;
        }

        .colection__man {
            margin-right: 0;
        }
    }

    @media (max-width: 624px) {
        .footer__column2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__list {
            margin-top: 50px;
            align-items: center;
        }
    }

    @media (max-width: 580px) {
        .swiper {
            // .swiper__content

            &__content {}
        }

        .content {
            // .content__left

            &__left {
                align-items: center;
            }

            // .content__title

            &__title {}

            // .content__suptitle

            &__suptitle {
                margin-top: 15px;
                margin-bottom: 15px;
            }

            // .content__btn

            &__btn {}

            // .content__right

            &__right {
                display: flex;
                flex-direction: column;
            }

            // .content__old

            &__old {}

            // .content__new

            &__new {
                margin-bottom: 90px;
            }

            // .content__img

            &__img {
                width: 450px;
            }
        }

        .header-pagination {
            width: 200px;
            justify-content: space-between;
            display: flex;
            position: absolute;
            top: 970px;

            left: 50%;
            transform: translateX(-50%);
        }

        .main__delivery {
            height: 150px;
        }

        .delivery__title {
            font-size: 22px;
        }

        .delivery__suptitle {
            margin-top: 5px;
            font-size: 18px;
        }

        .models__list {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .models__mainblock {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .models__block {
            margin-bottom: 0px;
            margin-top: 20px;
        }

        .email__title {
            font-size: 22px;
        }

        .footer__conttent {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    @media (max-width: 492px) {
        .header__nav {
            margin-left: 50px;
            display: flex;
            flex-direction: column;
        }

        .header__menu {
            align-items: center;
            margin-top: 70px;
        }

        .menu__item {
            font-size: 22px;
        }

        .header__pay {
            margin-top: 20px;
        }

        .pay__text {
            font-size: 22px;
        }

        .header {
            // .header__swiper

            &__swiper {}
        }

        .header-pagination {
            top: 950px;
        }

        .email__title {
            font-size: 20px;
        }

        .email__form {
            display: flex;
            flex-direction: column;
        }

        .email__input {
            margin-top: 10px;
        }

        .form__btn {
            margin-top: 10px;
        }
    }

    .swiper {
        // .swiper__content

        &__content {}
    }

    .content {
        // .content__left

        &__left {}

        // .content__title

        &__title {
            font-size: 20px;
        }

        // .content__suptitle

        &__suptitle {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 30px;
        }

        // .content__btn

        &__btn {
            width: 250px;
            height: 50px;
        }

        // .content__right

        &__right {}

        // .content__old

        &__old {}

        // .content__new

        &__new {}

        // .content__img

        &__img {}
    }

    @media (max-width: 445px) {
        .logo__text {
            font-size: 22px;
        }

        .content__old {
            margin-top: 20px;
        }

        .content__new {
            margin-bottom: 10px;
        }

        .content__img {
            margin-top: 1px;
            width: 350px;
        }

        .content__suptitle {
            margin-top: 0;
        }

        .delivery__title {
            font-size: 16px;
        }

        .delivery__suptitle {
            font-size: 14px;
        }

        .email__title {
            font-size: 18px;
        }
    }
}

@media (max-width: 357px) {
    .content__img {
        width: 300px;
    }

    .content__suptitle {
        text-align: center;
        line-height: normal;
    }
}