//
//
//
//<i class="fas fa-chevron-down"></i>

//H E A D E R N A V
.header {
    // .header__container

    &__container {}

    // .header__nav

    &__nav {
        margin-top: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    // .header__menu

    &__menu {
        display: flex;
    }

    &__burger {
        display: none;
    }

    // .header__logo

    &__logo {
        position: absolute;
        left: 50%;
        top: 50;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
    }

    // .header__pay

    &__pay {
        align-items: center;
        display: flex;
    }
}

.container {}

.menu {

    // .menu__item
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        & select {
            outline: none;
            background-color: #f9f6f1;
            margin-right: 20px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
            letter-spacing: 0.03em;

            /* Black */
            color: #212121;

        }

    }

    &__list {
        margin-top: 20px;
        position: absolute;
        width: 110px;
        height: 200px;
    }
}

.navigation__item {}

.menu {
    // .menu__list

    &__list {}
}

.fas {}

.fa-chevron-down {}

.logo {
    // .logo__img

    &__img {}

    // .logo__text

    &__text {
        margin-left: 10px;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        /* Black */
        color: #212121;
    }
}

.pay {
    // .pay__text

    &__text {
        margin-right: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.03em;

        /* Black */
        color: #212121;
    }

    // .pay__img

    &__img {
        margin-left: 20px;
    }

    &__logo {
        display: flex;
        align-items: center;
    }
}

//S W I P E R M A I N
._swiper {
    overflow: hidden;

    //.swiper-wrapper
    .swiper-wrapper {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        display: flex;
        position: relative;
    }

    &.swiper-container-vertical {
        .swiper-wrapper {
            flex-direction: column;
        }
    }

    &.swiper-container-autoheight {
        .swiper-wrapper {
            align-items: flex-start;
        }
    }
}

.swiper-container-initialized {
    .swiper-slide {
        flex-shrink: 0;
        // transition-property: transform;
    }
}

.swiper-container-android {

    .swiper-slide,
    .swiper-wrapper {
        transform: translate3d(0px, 0, 0);
    }
}

.swiper-button-lock {
    display: none !important;
}

//----------------------------------
//S W I P E R S T Y L E
.header {
    // .header__swiper

    &__swiper {
        margin-top: 70px;
    }
}

.swiper {
    // .swiper__content

    &__content {
        margin-bottom: 170px;
        margin-top: 170px;
        display: flex;
        justify-content: space-between;
    }
}

.content {
    // .content__left

    &__left {
        display: flex;
        flex-direction: column;
    }

    // .content__title

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;

        color: #000000;
    }

    // .content__suptitle

    &__suptitle {
        margin-top: 35px;
        margin-bottom: 45px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 67px;
        letter-spacing: 0.04em;

        color: #000000;
    }

    // .content__btn

    &__btn {
        width: 240px;
        height: 55px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #d7b399;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        letter-spacing: 0.03em;
        transition-duration: 0.3s;

        color: #ffffff;

        &:hover {
            border-radius: 25px;
        }
    }

    // .content__right

    &__right {}

    // .content__old

    &__old {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        letter-spacing: 0.05em;
        text-decoration-line: line-through;
        text-transform: uppercase;

        color: #000000;
    }

    // .content__new

    &__new {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 51px;
        text-align: right;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        color: #d84033;
    }

    // .content__img

    &__img {
        margin-top: -150px;
    }
}

.header-pagination {
    width: 200px;
    justify-content: space-between;
    display: flex;
    position: absolute;
    top: 750px;

    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    display: block;
    transition: all 0.4s ease 0s;
    width: 40px;
    height: 7px;
    background-color: #cecece;

    &:focus {
        outline: none;
    }
}

.swiper-pagination-bullet-active {
    outline: none;
    background-color: #d7b399;
}

//M A I N
.main {
    // .main__delivery

    &__delivery {
        height: 230px;
        width: 100%;
        background-color: #212121;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.delivery {
    // .delivery__title

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.02em;

        color: #ffffff;

        & span {
            font-weight: 300;
        }
    }

    // .delivery__suptitle

    &__suptitle {
        margin-top: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 26px;
        /* identical to box height */
        text-align: center;

        color: #ffffff;
    }
}

//C O L E C T I O N
.main {
    // .main__colection

    &__colection {
        background: linear-gradient(to right, #f9f6f1 50%, #f4f4f4 50%);
        display: flex;
        justify-content: center;
    }
}

.colection {
    // .colection__man

    &__man {
        margin-right: 100px;
        display: flex;
        flex-direction: row;
    }

    // .colection__title

    &__title {
        margin-top: 60px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03em;

        color: #000000;

        & span {
            font-weight: 300;
        }
    }

    // .colection__suptitle

    &__suptitle {
        margin-top: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;

        color: #000000;
    }

    // .colection__btn

    &__btn {
        margin-top: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 30px;
        transition-duration: 0.3s;
        background-color: #d7b399;

        &:hover {
            border-radius: 15px;
        }
    }

    // .colection__woman
    &__img {
        margin-top: 100px;
    }

    &__woman {
        display: flex;
        flex-direction: row;
    }
}

.main {
    &__container {
        padding: 0;
    }

    // .main__list

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    // .main__item

    &__item {}

    // .main__suptitle

    &__suptitle {
        position: absolute;
        margin-top: 190px;
        margin-left: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 26px;
        /* identical to box height */
        letter-spacing: 0.03em;

        color: #000000;
    }
}

//M O D E L S
.main {
    // .main__models

    &__models {}
}

.models {

    // .models__title
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__mainblock {
        width: 45%;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-top: 150px;
        margin-bottom: 100px;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        letter-spacing: 0.04em;
        text-transform: uppercase;

        /* Black */
        color: #212121;
    }

    // .models__block

    &__block {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        & svg {
            position: absolute;
        }

        & img {
            margin-top: 20px;
        }
    }

    // .models__name

    &__name {
        width: 100px;
        margin-top: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

        color: #000000;
    }

    // .models__price

    &__price {
        margin-top: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

        /* Accent */
        color: #d7b399;
    }
}

//B T N
.main {
    // .main__btn

    &__btn {
        width: 220px;
        height: 55px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background: #d7b399;
        transition-duration: 0.3s;

        &:hover {
            border-radius: 30px;
        }
    }
}

.btn {
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 150px;
    display: flex;

    & a {
        display: flex;
        align-items: center;
    }

    &__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        letter-spacing: 0.03em;

        color: #ffffff;
    }

    // .btn__img

    &__img {
        margin-left: 10px;
    }
}

// M A I L
.main {
    // .main__email

    &__email {
        background-color: #212121;
    }
}

.email {
    // .email__content

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .email__title

    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.02em;

        color: #ffffff;
    }

    // .email__form

    &__form {
        display: flex;
        align-items: center;

        & input {
            font-family: Montserrat;
            padding-left: 20px;
        }
    }

    // .email__input

    &__input {
        outline: none;
        width: 255px;
        height: 40px;
        left: 1040px;
    }
}

.form {
    // .form__btn

    &__btn {
        margin-top: 150px;
        margin-left: 30px;
        width: 185px;
        height: 40px;
        background-color: #d7b399;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        //T E X T
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        text-align: center;

        color: #ffffff;
    }
}

.btn {
    & :hover {
        border-radius: 25px;
    }
}

//F O O T E R

.footer {
    background-color: #212121;
    // .footer__container

    &__container {}

    // .footer__content

    &__content {
        margin-top: 80px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
    }

    // .footer__column1

    &__column1 {
        width: 200px;
    }

    // .footer__logo

    &__logo {
        display: flex;
    }

    &__img {
        align-items: center;
        display: flex;
    }

    &__text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #ffffff;
    }

    // .footer__suptitle

    &__suptitle {
        margin-top: 20px;
        margin-bottom: 80px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* or 157% */

        color: #ffffff;
    }

    // .footer__column2

    &__column2 {
        width: 600px;
        display: flex;
        justify-content: space-between;
    }

    // .footer__list

    &__list {
        display: flex;
        flex-direction: column;
    }

    // .footer__title

    &__title {
        margin-bottom: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        color: #fff;
    }

    // .footer__item

    &__item {
        margin-top: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */

        color: #cbcfd4;
    }
}

.container {}

.logo {
    // .logo__img

    // .logo__text
}

.fab {}

.fa-vk {
    color: #d7b399;
}

.fa-facebook-square {
    color: #d7b399;
}

.fa-instagram {
    color: #d7b399;
}

// E N D F O O T E R
.footer {
    // .footer__end

    &__end {
        background-color: #fff;
    }

    // .footer__content

    &__conttent {
        height: 80px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    // .footer__line

    &__line {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */

        /* Black */
        color: #212121;
    }
}